#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@ --with python2 --buildsystem=pybuild

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	python $(CURDIR)/ipaddr_test.py
endif

override_dh_auto_clean:
	rm -rf $(CURDIR)/ipaddr.pyc
	rm -rf $(CURDIR)/build
	dh_clean
