#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@ --with python2

override_dh_auto_test:
	python $(CURDIR)/ipaddr_test.py

override_dh_installdocs:
	cp $(CURDIR)/RELEASENOTES $(CURDIR)/changelog
	dh_installdocs
	rm $(CURDIR)/changelog

override_dh_auto_clean:
	rm -rf $(CURDIR)/ipaddr.pyc
	rm -rf $(CURDIR)/build
	dh_clean
